<h1>Sign up</h1>
<form class="flex items-center">
  <mat-form-field>
    <input matInput type="text" placeholder="username" [formControl]="signUpControl"#username>
    <mat-error *ngIf="signUpControl.invalid">{{getErrorMessage()}}</mat-error>

  </mat-form-field>
  <button class="ml-6" mat-flat-button color="primary" (click)="addNewUser(username.value)" >sign up</button>

</form>

<h1>Sign in </h1>
<form class="flex items-center">
  <mat-form-field>
    <input  matInput type="text" placeholder="username" [formControl]="signInControl" #userData>
    <mat-error *ngIf="signInControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <button  class="ml-6" (click)="authorize(userData.value)" aria-label="submit button for adding tasks" color="primary"
          mat-flat-button>sign in</button>

</form>

